MYSQL_USER=dbuser
MYSQL_PASSWORD=dbpassword
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=messaging

JWT_SECRET=
JWT_EXPIRATION_TIME=1h
JWT_REFRESH_EXPIRATION_TIME=168h

SERVER_PORT=3001
ORIGIN=4000
